//
// Icon Font: fontcustom
//

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom_d62fe2c01f876c328f9ad4eabec6e093.eot");
  src: url("../fonts/fontcustom_d62fe2c01f876c328f9ad4eabec6e093.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fontcustom_d62fe2c01f876c328f9ad4eabec6e093.woff") format("woff"),
       url("../fonts/fontcustom_d62fe2c01f876c328f9ad4eabec6e093.ttf") format("truetype"),
       url("../fonts/fontcustom_d62fe2c01f876c328f9ad4eabec6e093.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../fonts/fontcustom_d62fe2c01f876c328f9ad4eabec6e093.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-burgerbars:before,
.icon-chatbubble:before,
.icon-logo:before,
.icon-magnifier:before,
.icon-me:before,
.icon-person:before,
.icon-questionmark:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-burgerbars:before { content: "\f107"; }
.icon-chatbubble:before { content: "\f109"; }
.icon-logo:before { content: "\f10a"; }
.icon-magnifier:before { content: "\f10b"; }
.icon-me:before { content: "\f10c"; }
.icon-person:before { content: "\f10d"; }
.icon-questionmark:before { content: "\f10e"; }

$font-fontcustom-burgerbars: "\f107";
$font-fontcustom-chatbubble: "\f109";
$font-fontcustom-logo: "\f10a";
$font-fontcustom-magnifier: "\f10b";
$font-fontcustom-me: "\f10c";
$font-fontcustom-person: "\f10d";
$font-fontcustom-questionmark: "\f10e";
