//
// Icon Font: fontcustom
//

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom_ba0917ebc5c8584ca51672f23cd73fc8.eot");
  src: url("../fonts/fontcustom_ba0917ebc5c8584ca51672f23cd73fc8.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fontcustom_ba0917ebc5c8584ca51672f23cd73fc8.woff") format("woff"),
       url("../fonts/fontcustom_ba0917ebc5c8584ca51672f23cd73fc8.ttf") format("truetype"),
       url("../fonts/fontcustom_ba0917ebc5c8584ca51672f23cd73fc8.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../fonts/fontcustom_ba0917ebc5c8584ca51672f23cd73fc8.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-arrow:before,
.icon-bars:before,
.icon-board:before,
.icon-chart:before,
.icon-checklist:before,
.icon-email:before,
.icon-facebook:before,
.icon-linkedin:before,
.icon-note:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-arrow:before { content: "\f100"; }
.icon-bars:before { content: "\f101"; }
.icon-board:before { content: "\f102"; }
.icon-chart:before { content: "\f103"; }
.icon-checklist:before { content: "\f104"; }
.icon-email:before { content: "\f10c"; }
.icon-facebook:before { content: "\f10a"; }
.icon-linkedin:before { content: "\f10b"; }
.icon-note:before { content: "\f108"; }

$font-fontcustom-arrow: "\f100";
$font-fontcustom-bars: "\f101";
$font-fontcustom-board: "\f102";
$font-fontcustom-chart: "\f103";
$font-fontcustom-checklist: "\f104";
$font-fontcustom-email: "\f10c";
$font-fontcustom-facebook: "\f10a";
$font-fontcustom-linkedin: "\f10b";
$font-fontcustom-note: "\f108";
