<div class="wrapper pad-v-2 pad-h-3 clearfix">
  <h2 class="form-header">Or .. Be our guest</h2>
  <form name="guestLoginForm" ng-submit="loginGuest()" class="guest-login-form" novalidate>
    <div class="form-inputs">
      <div class="field-group">
        <label for="guest-username">Guest Username</label>
        <input id="guest-username" type="text" ng-model="guest.username">
      </div>
    </div>
    <div class="form-actions">
      <input type="submit" value="Continue" class="btn-ghost">
    </div>
  </form>
</div>
