input[type=checkbox] {

  visibility: hidden;

}

.checkboxx {

  position: relative;
}

.checkboxx:after {
  display: table;
  content: "";
  clear: both;
  height: 0;
}

.checkboxx__rectangle {
  float: left;
  margin-top: -1px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-color: #F5F5F5;
  border: 1px solid #CFC7C7;
  transition: all .5s ease;
  border-radius: 3px;
}
.checkboxx  label {
  float: left;
  cursor: pointer;
}

.checkboxx input[type=checkbox]:checked + .checkboxx__rectangle {
  background-color: teal;
}