<div class="chat-container">

  <header class="C_header">
    <ul class="C_header-controls">
      <li class="C_header-control">Subscribe</li>
      <li class="C_header-control">Info</li>
    </ul>

    <div class="C_header-chatrooms-tabs">
      <opened-chatrooms></opened-chatrooms>
    </div>




  </header>
  <ui-view class="C_inner-content-wrapper"></ui-view> 
  <!--
  <div class="clearfix">
    <div class="f-left pad-h-3">
      <h2>Rooms</h2>
      <ul>
        <li ng-repeat="room in rooms">
          <a  ui-sref="home.chat.chatrooms({chatroomId: room.id})">{{room.name}}</a>
        </li>
        <button ui-sref="home.chat.newchatroom">New room</button>
      </ul>
    </div>
    <div class="f-left pad-h-3">
      <h2>Subscriptions</h2>
      <subscriptions></subscriptions>

      <h2>Friends</h2>
      <friends></friends>
    </div>
  </div>

  <opened-chatrooms></opened-chatrooms>
  <ui-view></ui-view>
 -->
</div>
