<div class="home-page-wrapper">
  <header class="home-header">
    <div class="header-logo">
      <img src="/assets/images/logo.svg" alt="logo">
    </div>
    <ul class="header-controls">
      <li class="header-control"><i class="icon-magnifier"></i></li>
      <li class="header-control"><i class="icon-questionmark"></i></li>
      <li class="header-control"><i class="icon-burgerbars"></i></li>
      <li class="header-control">
        <logout></logout>
      </li>
  </header>

  <div class="home-content">
    <aside class="home-sidebar-wrapper">
      <home-sidebar></home-sidebar>
    </aside>
    <ui-view class="main-content-wrapper">

  </ui-view>
  </div>
</div>



<!-- <logout></logout>

<angucomplete-alt id="rooms"
              placeholder="Search rooms"
              pause="400"
              selected-object="searchObjSelected"
              clear-selected="true"
              remote-url="/api/chatrooms?search="
              remote-url-data-field="results"
              title-field="name"
              description-field="description"
              input-class="form-control form-control-small"
              remote-url-response-formatter="responseFormatter">
</angucomplete-alt>


<ui-view></ui-view> -->
